# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

tests/_config.js

# Application specific files
node_modules
npm-debug.log

/logs
jsconfig.json
slack_teams_info
slack_button.html
.vscode
coverage
example_jd.js
.nyc_output
